[submodule "openstack/puppet-openstack"]
	path = openstack/puppet-openstack
	url = https://github.com/elastx/vagrant-puppet-openstack.git
[submodule "learning-tools"]
	path = learning-tools
	url = https://github.com/lowescott/learning-tools.git
[submodule "openstack/devstack"]
	path = openstack/devstack
	url = https://github.com/openstack-dev/devstack-vagrant.git
[submodule "oh-my-vagrant"]
	path = oh-my-vagrant
	url = https://github.com/purpleidea/oh-my-vagrant.git
[submodule "coreos-kubernetes"]
	path = coreos-kubernetes
	url = https://github.com/coreos/coreos-kubernetes.git
[submodule "plonedev"]
	path = plonedev
	url = https://github.com/plone/plonedev.vagrant.git
[submodule "hadoop/virtual-cluster"]
	path = hadoop/virtual-cluster
	url = https://github.com/DandyDev/virtual-hadoop-cluster.git
[submodule "hadoop/cascading-hadoop"]
	path = hadoop/cascading-hadoop
	url = https://github.com/Cascading/vagrant-cascading-hadoop-cluster.git
